<header>
  <div class="nav_content">
    <div class="logo">
      <img src="/images/houselogo.png" alt="" />
      <span class="lname">HOUSE HUNTING</span>
    </div>
    <div class="nav_links">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Dashboard</a></li>
        <% if (user && user.role == "admin") { %>
        <li><a href="/admin">Admin</a></li>
        <% } %>
      </ul>
    </div>
    <div class="profile_section" onclick="toggleProfileMenu()">
      <img
        src="/images/profile.png"
        alt="Profile Image"
        class="profile_image" />
      <span class="profile_name"><%= user ? user.Name : 'Guest' %></span>
      <% if (user) { %>
      <div class="profile_menu" id="profileMenu">
        <ul>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
      <% } %>
    </div>
  </div>
</header>
